spring:
  application:
    name: backend

  datasource:
    url: jdbc:sqlserver://LAPTOP-859490JA:1433;databaseName=university_management_system;encrypt=true;trustServerCertificate=true;instanceName=SQLEXPRESS01;
    username: university_user
    password: 123
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.SQLServer2016Dialect
        jdbc:
          lob:
            non_contextual_creation: true

  sql:
    init:
      mode: always

server:
  port: 8080   # Changed from 8080 to 8081

# Custom logging to see SQL queries
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
